#include <winver.h>

#ifndef LYMALINK_PROJECT_URL
#define LYMALINK_PROJECT_URL "https://github.com/Morsomus/Lymalink"
#endif

#ifndef LYMALINK_LEGAL_COPYRIGHT
#define LYMALINK_LEGAL_COPYRIGHT "Licensed under GNU GPLv3"
#endif

#ifndef LYMALINK_PRERELEASE_FLAG
#define LYMALINK_PRERELEASE_FLAG 0
#endif

#ifndef LYMALINK_VERSION_MAJOR
#define LYMALINK_VERSION_MAJOR 0
#endif

#ifndef LYMALINK_VERSION_MINOR
#define LYMALINK_VERSION_MINOR 0
#endif

#ifndef LYMALINK_VERSION_PATCH
#define LYMALINK_VERSION_PATCH 0
#endif

#ifndef LYMALINK_VERSION_TWEAK
#define LYMALINK_VERSION_TWEAK 0
#endif

#ifndef LYMALINK_VERSION_STRING
#define LYMALINK_VERSION_STRING "0.0.0.0"
#endif

#ifdef _DEBUG
#define LYMALINK_DEBUG_FLAG VS_FF_DEBUG
#else
#define LYMALINK_DEBUG_FLAG 0
#endif

IDI_LYMALINK_ICON ICON "Lymalink.ico"

1 VERSIONINFO
FILEVERSION LYMALINK_VERSION_MAJOR,LYMALINK_VERSION_MINOR,LYMALINK_VERSION_PATCH,LYMALINK_VERSION_TWEAK
PRODUCTVERSION LYMALINK_VERSION_MAJOR,LYMALINK_VERSION_MINOR,LYMALINK_VERSION_PATCH,LYMALINK_VERSION_TWEAK
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS (LYMALINK_DEBUG_FLAG | LYMALINK_PRERELEASE_FLAG)
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", LYMALINK_PROJECT_URL
            VALUE "CompanyName", "Morsomus"
            VALUE "FileDescription", "Lymalink"
            VALUE "FileVersion", LYMALINK_VERSION_STRING
            VALUE "InternalName", "Lymalink"
            VALUE "LegalCopyright", LYMALINK_LEGAL_COPYRIGHT
            VALUE "OriginalFilename", "Lymalink.exe"
            VALUE "ProductName", "Lymalink"
            VALUE "ProductVersion", LYMALINK_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
